body {
    font-family: copperplate;
    font-weight: lighter;
    font-size: calc(15px + 0.390625vw);
    padding: calc(0px + 0.5625vw);
    background: rgba(250, 225, 112, 0.25);
}

h2 {
    display: block;
    font-size: 1.5em;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 0.1rem;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h4 {
    display: block;
    font-size: 1em;
    text-align: center;
    margin-top: 1.33rem;
    margin-bottom: 0.15rem;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

table {
    font-size: 1.3rem;
}

input[type='number'] {
    font-family: "Arial Narrow", sans-serif;
    font-size: 1.1rem;
    text-align: center;
    width: 2.5rem;
    height: 1.2rem;
    padding-left: .6rem;
}

input[type='checkbox'] {
    width: 1.5rem;
    height: 1.3rem;
}

input[type='text'] {
    font-family: "Arial Narrow", sans-serif;
    font-size: 1.1rem;
}

button {
    font-family: copperplate;
    font-weight: lighter;
    font-size: 1.1rem;
    color: black;
    width: 8rem;
    background-color: rgb(255, 255, 255);
    border: 1.5px solid;
    border-radius: 1rem;
    cursor: pointer;
    padding: 2.4px;
}

button:hover {
    background: black;
    border-color: black;
    font-weight: bold;
    color: white;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: copperplate;
    font-weight: lighter;
    font-size: 1.1rem;
    color: black;
    width: 12rem;
    padding: 3px;
    text-align-last: center;
    margin-bottom: 3px;
    background-color: white;
    border: 1.5px solid;
    border-radius: .4rem;
    cursor: pointer;
}

.alt-btn {
    font-family: copperplate;
    font-size: 1.1rem;
    color: black;
    width: 8rem;
    background-color: white;
    border: 1.5px solid;
    border-radius: 1rem;
    cursor: pointer;
    padding: 2.4px;
    text-align: center;
    float: right;
}

.alt-btn:hover {
    background: black;
    border-color: black;
    font-weight: bold;
    color: white;
}

.resizable-image {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    max-width: 85%;
    max-height: 60px;
    width: auto;
    height: auto;
}

/* grid container */
.holy-grail-grid {
    display: grid;
    grid-template-areas:
        'header'
        'main-content'
        'left-sidebar'
        'right-sidebar'
        'footer';
}

/* general column padding */
.holy-grail-grid>* {
    padding: 0.5rem;
}

/* assign columns to grid areas */
.header-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    grid-area: header;
    background: #f97171;
}

.left-sidebar {
    grid-area: left-sidebar;
    background: #f5d55f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-content {
    grid-area: main-content;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-sidebar {
    grid-area: right-sidebar;
    background: #c5ed77;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-content {
    grid-area: footer;
    background: #72c2f1;
    display: flex;
    flex-direction: row nowrap;
    justify-content: space-evenly;
}

/* tablet breakpoint */
@media (min-width:400px) {
    .holy-grail-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            'header header'
            'left-sidebar right-sidebar'
            'main-content main-content'
            'footer footer';
    }
}

/* desktop breakpoint */
@media (min-width:1024px) {
    .holy-grail-grid {
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 'header header header header header'
            'left-sidebar main-content main-content main-content right-sidebar'
            'footer footer footer footer footer';
    }
}